node_modules

*.log
logs

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

.env
config/local.js
config/development.js
config/*.local.js
config/*.dev.js

.DS_Store
Thumbs.db

build/
dist/
out/

temp/
cache/

*.debug
*.profile

coverage/
.nyc_output/

nodemon.pid
