<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des artisans</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>Gestion des artisans</h1>
    </header>

    <table id="artisansTable">
        <thead>
            <tr>
                <th>Nom de l'entreprise</th>
                <th>Adresse</th>
                <th>Localisation</th>
                <th>Email</th>
                <th>Website</th>
                <th>Logo</th>
                <th>Note</th>
                <th>Spécialité</th>
                <th>Catégorie</th>
                <th>A propos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <h2>Ajoute/Modifie un artisan</h2>
    <form id="artisanForm">
        <input type="hidden" id="artisanId">

        <label for="artisanName">Nom de l'entreprise:</label>
        <input type="text" id="artisanName" required><br>

         <label for="artisanAdress">Adresse de l'entreprise:</label>
        <input type="text" id="artisanAdress" required><br>

         <label for="artisanlocation">Localisation de l'entreprise:</label>
        <input type="text" id="artisanlocation" required><br>

        <label for="artisanMail">Mail de l'entreprise:</label>
        <input type="text" id="artisanMail"><br>

        <label for="artisanWebsite">Website de l'entreprise:</label>
        <input type="text" id="artisanWebsite"><br>

        <label for="artisanLogo">Logo de l'entreprise:</label>
        <input type="text" id="artisanLogo"><br>

        <label for="artisanNote">Note de l'entreprise</label>
        <select id="artisanNote" required>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>

        <label for="artisanSpeciality">Spécialité de l'entreprise:</label>
        <input type="text" id="artisanSpeciality" required><br>

        <label for="artisanCategory">Catégorie de l'entreprise:</label>
        <input type="text" id="artisanCategory" required><br>

        <label for="artisanAbout">A propos de l'entreprise:</label>
        <input type="text" id="artisanAbout"><br>

        <button type="submit">Sauvegarder</button>
    </form>

    <script src="javascripts/artisan.js"></script>
</body>

</html>