<!DOCTYPE html>
<html>

<head>
    <title>Port Russel's API</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <h1>Trouve ton artisan !</h1>
        <p>Ici vous pourrez y vérifier, modifier et, le cas échéant, supprimer une entreprise</p>
    </header>
<main id="login-main">
<h2>Login</h2>
    <form id="loginForm">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br><br>

        <input type="submit" value="Login">
    </form>
</main>
<footer>
    <p><a href="/api-docs" target="_blank">Documentation API</a></p>
</footer>
    


</body>
<script src="javascripts/login.js"></script>

</html>